.display-1 {
    font-size: 2.5rem;
}

#mainheader {
    background: radial-gradient(at 10% 10px, #e9a075, #fff, #fff);
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar .logo {
    float: left;
    padding-top: 16px;
    font-size: 25px;
}

#navbar ul li {
    float: left;
}


#showcase {
    padding: 0px;
    text-align: center;
}

.showcase-row {
    flex-wrap: wrap;
    padding: 20px 0;
}

.showcase-row-img img {
    width: 100%;
    padding-top: 40px;
}
 
#portfolio {
    padding-top: 80px;
    padding-bottom: 40px;
}

#portfolio p {
    width: 100%;
}

#about {
    padding-top: 80px;
    padding-bottom: 40px;
}

#about h2 {
    padding-bottom: 10px;
}

#about p {
    padding-bottom: 5px;
}

#contact {
    padding-top: 80px;
    padding-bottom: 40px;
}

 #contact p {
    width: 100%;
 }

 .contact-row {
    flex-wrap: wrap;
    padding: 0;
 }

 .contact-row-img {
    width: 100%;
 }

 .contact-row-img img {
    padding: 0px;
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
 }

 .contact-row-form {
    width: 100%;
    padding: 10px;
}


@media(max-width:768px){
    .header__container {
        flex-direction: column;
    }
    .showcase__row__title {
        width: 50%;
    }
    .showcase__row {
        padding-top: 8rem;
    }
    .display__a {
        font-size: 3rem;
    }
}

@media(max-width:500px){
    #navbar ul li a {
        padding: 20px 5px;
    }
    .showcase__row {
        flex-direction: column;
    }
    .showcase__row__title {
        width: 100%;
    }
    #about {
        padding-top: 10px;
    }
    .contact__row {
        flex-direction: column;
    }
    .contact__row__img img {
        width: 100%;
        padding: 0px;
    }
    .contact__row__img {
        width: 100%;
    }
    .contact__row__form {
        width: 100%;
    }
    .display__a {
        font-size: 2rem;
    }
    .showcase__img {
        width: 50%;
    }
    .portfolio__row {
        grid-template-columns: repeat(1, 1fr);
    }
    .contact__row__form {
        padding: 10px;
    }
}
@media(max-width:320px){
    .header__container__title{
        font-size: 1rem;
    }
    #navbar ul li a {
        font-size: 13px;
    }
}